/* CSS Reset */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/*
	https://fonts.google.com/
*/


/*
	A. Nav
*/
body {
	font-family: 'Open Sans', sans-serif;
}

header {
	padding: 0.8rem;
	margin-bottom: 2rem;
	align-items: center;
/*	align-items: flex-end;*/
	border-bottom: 1px solid gray;
}

header .nav, header .nav-logo {
	margin: 0.5rem;
	display: inline;
}


/*
	B. Styling For Intro
*/

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#intro h1, #intro p {
	margin-bottom: 1rem;
	text-align: center;
}

#intro div {
	text-align: center;
}


#intro button {
	color: white;
	font-weight: bold;
	background-color: #C2195B;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

/*
	C. Styles For Sections Headers
*/

.header {
	text-align: center;
}

#succeed-info {
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info > div > h3 {
	margin-bottom: 1rem;
}

#succeed-info div {
	display: inline;
	width: 33.33%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/* Styles for footer */

footer {
	display: inline-block;
/*	padding: 0.7rem;*/
	padding-left: 10%;
	padding-right: 10%;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}