/*
	rem unit is dependent from the set universal rule
	em and % - is dependent from it's parent element or container
*/

/* 1. using rem */
* {
	font-size: 50px;
}

#greetings {
	font-size: 1rem;
}

/* 2. using em  */
#batch	{
	font-size: 25px;
}

#batch > p {
	font-size: 1em;
}


/* using % */
#


