/*
	CSS Syntax

	Selector{
		property: value;
	}
*/


/* Normal CSS Selector */

/* Type Selector */
h1 {
	color: yellow;
}

body {
	background-color: skyblue;
}
section {
	height: 100vh;
	text-align: center;
}

html {
	/* scroll-behavior prperty - taht changes the scrolling behavior when anchor tag was clicked*/
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

/* pseudo class */
a:hover{
	background-color: #42edaf;
}

div {
	display: inline;

	/* float property changes the horizontal alignment of an element to float to the left or right of it's container or <div>	*/
	float: right;
}

ol {
	list-style: none;
}

form {
	text-align: center;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	height: 185px;
	width: 25vw; /* viewport with */
	position: relative; /* Changes the position of an element based on a certain criteria */
	left: 37.5%; /* form margin */
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}

/* ID Selector */
#zuitt-motto {
	letter-spacing: 5px;
}

/* Class Selector */
.offering-item{
	text-transform: uppercase;
}

/* Attribute Selector */

[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/* Universal Selector  */
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}



/* For Testing */
h3 {
	letter-spacing: 25px;
}

/* CSS Selector Combinators */
/* Keypoints */

/* 1. Adjacent Sibling Selector */
/* element-for-element + target+element */

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/* General Sibling Selector */
/*  */
h2 ~ a {
	/* text-decoration property changes lines included in text (ex: overline, underline, and strike) */
	/* none value will */
	text-decoration: none;
}

/* Descendant Selector (Whitespace) */
/* element-for-reference target-element */
#bootcamp-learning-list li{
	color: #2a73e8;
}

/* Child Selector */
/* Keypoint will be the parent to child */

body > section > form > label{
	color: rgb(89, 199, 219);
}

/*
form > label{
	color: rgb(89, 199, 219);
}
*/

/* Multiple Selector */
/*  */