/* CSS Reset */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
	border: 0;
	border-radius: 25px;
}

.intro-description ,.prefooter-description{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;

	padding-left: 10%;
	padding-right: 10%;
}

.intro ,.pre-footer{
	padding-left: 10%;
	padding-right: 10%;

	padding-top: 3rem;
	padding-bottom: 3rem;

	text-align: center;	
}

/* Nav Bar */
nav {
	position: sticky;
	top: 0px;

	padding-top: 0.4rem;
	padding-bottom: 1rem;

	padding-right: 10%;
	padding-left: 10%;

	background-color: white;
	display: block;
	width: 100%;
}

nav ul {
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
}

nav > ul li, nav > ul div{
	margin: 0.5rem;
	display: inline;
}

.right-nav {
	float: right;
}

.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #C2195B;
	
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-right: 1rem;
	padding-left: 1rem;
}

/*
	B. landing page
*/

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	height: 350px;

	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}

.front-bg {
	height: 350px;
	background-color: rgba(0, 0, 0, 0.4);
}

.container {
	text-align: right;
	height: 350px;
	margin-top: 0;
	margin-left: 12%;
	margin-right: 12%;

	color: white;
}

.container h1 {
	font-size: 2.3rem;
	
	padding-bottom: 2rem;
	padding-left: 30%;

	margin-left: 20%;	
}

.container h2 {
	font-family: "Open Sans", sans-serif;
	font-size: 1.2rem;
	font-weight: normal;

	padding-left: 40%;
	padding-bottom: 2rem;

	margin-left: 20%;
}

.apply-button{
	color: white;
	font-weight: bold;
	background-color: #C2195B;
	font-size: 1rem;
	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3%;
	padding-right: 3%;
}


/* Intro */

.intro-description {
	padding-top: 3rem;
	text-align: justify;
}


/*
	pre-footer section
*/

.prefooter-description {
	padding-top: 3rem;
	padding-bottom: 1.5rem;

	padding-right: 8.5%;
	padding-left: 8.5%;
}


.book-button {
	color: white;
	background-color: #346488;

	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	padding-right: 2.5%;
	padding-left: 2.5%;
}


/*
	Styles for footer
*/
footer {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;

	text-align: center;

	display: inline-block;
	width: 100%;

	padding-top: 5rem;
	padding-bottom: 0.5rem;	
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}