/* CSS Reset */

* {
	font-family: "Helvetica Neue", sans-serif;
}

.text-center{
	text-align: center;
}

.h-25{
	height: 20%;
}

.p-3{
	padding: 1rem;
}

.bg-success{
	background-color: forestgreen;
}

.bg-warning{
	background-color: yellow;
}

.bg-danger{
	background-color: darkred;
}

.bg-primary{
	background-color: blue;
}

.bg-secondary{
	background-color: gray;
}

.d-flex{
	/* The display of the  */
	display: flex;
}

.justify-content-center {
	/* Horizontaly Alignt content in center */
	justify-content: center;
}

.align-items-center {
	/* The CSS "align-items" property allows us to allign items in center vertically*/
	align-items: center;
}

.flex-column {
	flex-direction: column;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

/* other topics */
.align-self-center {
	align-self: center;
}