#div-1 {
	background-color: green;
	display: inline;
	text-align: Top;

}

#span-1{
	background-color: purple;
	display: inline;
	/* span element by default accept width and height in property display: inline */
	width: 200px;
	height: 200px;

}

#span-2{
	background-color: red;
	display: block;
}

#div-2 {
	background-color: hotpink;
	display: none;
}

#img {
	width: 250px;
	height: 250px;
}

#p-1 {
	background-color: #27F32A;
}

#p-2 {
	background-color: 	rgb(230, 101, 90);
	width: 60%;
}

#p-3 {
	background-color: yellow;
	width: 40%;
}

.sample {
	display:  inline-block;
	width: 30%;
	border: 1px solid black;
	text-align: center;
}


/*
	Float Propert
	https://www.w3schools.com/css/css_float.asp
*/
.img-float {
	width: 250px;
	height: 250px;

	float: left;
}

/*
	CSS Units
*/

.box {
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent {
	width: 50%;
}

.one-hundered-pixels {
	width: 100px;
}



/*
	Viewport Width and Height
	1. vw - is usefull for creating full-width elements (100%) that fill up the full viewpoer's width
	2. vh - 
*/
.fifty-vw {
	width: 50vw;
}

.twenty-five-vh {
	height: 25vh;
}


/*
	rem & em
	General Rule when to use rem and em
		- by default the font-size of 1rem is 16px
	1. rem - absolute
	2. em - relative
*/
.one-rem {
	font-size: 1rem;
}

.one-em {
	font-size: 1em;
}

.two-rem {
	font-size: 2rem;
}

.two-em {
	font-size: 2em;
}


/*
	Parent ELement
*/

.parent {
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

.two-hundred-percent {
	font-size: 200%;
}

/*
	CSS Background Properties
*/

.background {
	min-height: 100vh;
/*	background-color: gray;*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: scroll;
}

.bg-tittle{
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0;
	line-height: 35rem;
}

.container-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;
}

/*
	Positioning Poperpy
*/

.parent-element {
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 100vh;

}

.child-one {
	background-color: gray;
	padding: 10px;
}

.child-two {
	background-color: yellow;
	padding: 10px;
	/*
	1. Stattic - default
	2. Relative
	3. Absolute
	4. fixed
	5. sticky - usually used in nav bar
	*/
	/*position: fixed;
	left: 10px;
	bottom: 10px;*/

	position: sticky;
	top: 10px;
}

.child-three {
	background-color: gray;
	padding: 10px;
}

html {
	height: 100vh;
}

/*
Z-Index Elements
*/

.container {
	position: relative;
	border: 1px solid black;
}

.black-box {
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.gray-box {
	position: absolute;
	z-index: 3;
	background: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}

.green-box {
	position: absolute;
	z-index: 2;
	background: lightgreen;
	width: 35%;
	left: 270px;
	top: -15px;
	height: 100px;
}