/* 5. Apply an external styling to a paragraph tag.*/
#external {
	color: yellow;
}

/* 6. Change the font-family and the font size of all elements using the universal selector.*/
* {
	font-family: "Calibri", monospace;
	font-size: 16px;
}

/* 7. Change the font-size of h1 tags using a type selector. */
h1 {
	font-size: 45px;
}

/* 8. Change the text to all uppercase letters for h2 tags using an id selector. */
#subTitle {
	text-transform: uppercase;
}

/* 9. Change the background colors of the languages to be learn list items using a class selectors. */
.background-color {
	background-color: #AED0A1;
}

/* 10. Change the border of the tools to be used list items using a attribute selectors. */
[value]{
	border: 1px;
	border-style: solid;
	border-color: skyblue;
}

/* 11. Change the list style type of the other things to be learned list using an adjacent sibling selector. */
img + ul {
	list-style: none;
}

/* 12. Change the dimensions of the image tag using a descendant selector. */
section img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

/* 13. Change the alignment of the last paragraph using a generic sibling selector. */
h4 ~ p {
	text-align: center;
}

/* 14.  */
ul {
	letter-spacing: 6px;
}